.banner {
    background-color: #f5f4ee;
    color: #af8f64;
    background-image: url('../../../public/images/banner_background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 400px; /* Adjust height as needed */
    padding-top: 100px;
    box-shadow: 5px 5px 5px 0px rgb(174, 142, 101, 0.5);
}

article {
    width: 100%;
    padding: 5%;
    background-color: rgba(0, 0, 0, 0.013);
    font-size: 30px;
    margin-bottom: 100px;
}

.side-profile {
    position: relative; /* Enables positioning of child elements */
    width: 250px;
    height: 250px;
    max-width: 100%;
    padding: 20px;
}

/* Profile picture */
.profile-image {
    background-image: url('../../../public/images/profile_no_background.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    z-index: 1; /* Background layer */
}

/* Overlay GIF */
.overlay-gif {
    position: absolute;
    top: 0;
    right: 10px;
    width: 100%;
    height: 100%;
    z-index: 2; /* Above the profile image */
    pointer-events: none; /* Allows clicks to pass through the GIF */
}
