/* Header.css */
html {
    background-color: #f3f1e8;
}

header {
    display: flex;
    
}
.logo-image {
    position: fixed;
    height: 70px;
    left: 40px;
}
.logo-image img {
    height: 100%;
}

nav {
    position: fixed;
    top: 0;
    right: 0;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: rgb(175, 143, 100);
    background-color: #f3f1e8;
    z-index: 10;
}

nav .logo {
    color: #af8f64;
    margin: 0 24px;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

nav .logo .menu-icon {
    color: #af8f64;
    font-size: 24px;
    margin-left: 14px;
    cursor: pointer;
}

.contact {
    color: #af8f64;
    font-size: 22px;
    font-weight: 500;
    text-decoration: none;
    background-color: #ffff;
    padding: 5px;
    border-radius: 7px;
    box-shadow: #af8f64;
}
.contact:hover{
    animation: shake .5s;
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

.overlay {
    position: fixed;
    top: 0;
    height: 1000vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    transition: all 0.4s ease-in-out;
    pointer-events: none;
    right: 260px;
}
